:root {
  --primary-color: #5957b1;
  --accent-color: #cde2f5;
  --text-color: #444651;
  --background-color: #fbfaf9;
}

#footer-list {
  display: flex;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin: 20px;
}
