:root {
  --primary-color: #5957b1;
  --accent-color: #cde2f5;
  --text-color: #444651;
  --background-color: #fbfaf9;
  --decorative-font: "Yeseva One", cursive;
  --paragraph-font: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--paragraph-font);
  color: var(--text-color);
}
.navbar {
  background-color: var(--accent-color) !important;
  --bs-navbar-brand-color: var(--primary-color);
  --bs-navbar-color: var(--background-color);
  --bs-navbar-disabled-color: rgba(var(--background-color), 0.3)
  --bs-navbar-hover-color: rgba(var(--background-color), 0.8);
  --bs-navbar-toggler-border-color: var(--primary-color);
  --bs-navbar-active-color: var(--primary-color);
  --bs-navbar-brand-hover-color: var(--accent-color);
  justify-content: end;

}
.navbar-nav{
--bs-nav-link-hover-color: var(--primary-color);
}

.hero {
  margin-top: 95px;
  background-color: var(--background-color);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  text-align: center;
  padding: 50px;
  margin-bottom: 50px;
  color: var(--primary-color);
}
.content-container {
  margin-top: 95px;
  text-align: center;
  padding: 50px;
}

h1,
h3 {
  font-family: var(--decorative-font);
  color: var(--primary-color);
  text-align: center;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 45px;
  font-family: var(--paragraph-font);
  margin: 0;
}

.project-row {
  display: flex;
  align-items: first baseline;
}

.project-description {
  margin-top: 20px;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--background-color);
  padding: 10px 20px;
  margin-top: 10px;
}

.btn-branding:hover {
  background: var(--accent-color);
  color: var(--text-color);
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 10px 20px;
}
.btn-branding-outline:hover {
  color: var(--text-color);
  background: var(--accent-color);
}

.about-sarah {
  text-align: center;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .hero {
    margin-top: 55px;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
  }
  .btn-branding-outline {
    display: flex;
    justify-content: center;
  }
  #footer-list {
    padding: 5px;
    margin-top: 5px;
  }
}

#footer-list {
  background: var(--background-color);
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 45px;
  padding: 40px;
}

.contact {
  display: flex;
  justify-content: center;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

li {
  list-style: none;
  margin: 20px;
  text-align: center;
}

.icon-description {
  margin-top: 15px;
}

.sarah-image {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.contact-description {
  margin-top: 15px;
}
.contact-link,
.contact-icon {
  color: var(--primary-color);
  text-decoration: none;
}

.contact-link:hover {
  color: var(--background-color);
  background: var(--primary-color);
  padding: 10px;
  border-radius: 50px;
}

.contact-icon:hover {
  color: var(--background-color);
  background: var(--primary-color);
  padding: 15px;
  border-radius: 50px;
}
